.tabs{
  border-collapse: collapse;
  width: 70%;
  border: 1px solid #ddd;
  margin-top: 7%;
  margin-bottom: 3%;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2%;

}

.tabs td, .tabs th {
    border: 1px solid #ddd;
    padding: 8px;
  }


.tabs th{
    text-align:left;
    background-color: orange;
    font-size: 1.5rem;

  
}


.tabs tr:nth-child(even){background-color: #f2f2f2;}

.tabs tr:hover {background-color: #ddd;}
 td{
    text-align: left;
      
      color:black;
      font-size: 2rem;
    }

th,td{
        padding: 8px;
    }

.small{
    width: 15%;
}


#Address,#phone{
    font-size: 2rem;
    border-radius: 14px;
    max-width: 500px;
    max-height: 200px;
    border:1px solid #ddd;
    color:rgb(0, 0, 0);
    background-color: bisque;
}
#conf{
    border-radius: 14px;
    background-color: orange;
    color:white;
    border: 1px solid orange;
    height: 33px;
    margin-left:22%;
    width: 110px;
    
}